:root {
  --bg-color: #fff;
  --primary-color: #389c9a;
  --accent-color: #fedb71;
  --secondary-color: #f8f8f8;
  --text-color: #1d1d1d;
}

.dark-theme {
  --bg-color: #24293e;
  --primary-color: #fff;
  --accent-color: #8ebbff;
  --secondary-color: #2f3855;
  --text-color: #f4f5fc;

  background-color: var(--bg-color);
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

a {
  display: inline-block;
  text-decoration: none;
}

.text-center {
  text-align: center;
  display: block;
}

.bg_primary {
  background-color: var(--primary-color);
}
.text_primary {
  color: var(--primary-color);
}

.heading {
  text-align: center;
  margin: 30px 0;
}

.heading .title {
  font-weight: bold;
  font-size: 22px;
}

@media (max-width: 767px) {
  .pc-builder-card {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
  }
}
@media (min-width: 768px) {
  .pc-builder-card {
    border-left: 1px solid silver;
    border-right: 1px solid silver;
  }
}
