:root {
  --bg-color: #fff;
  --primary-color: #389c9a;
  --accent-color: #fedb71;
  --secondary-color: #f8f8f8;
  --text-color: #1d1d1d;
}

.dark-theme {
  --bg-color: #24293e;
  --primary-color: #fff;
  --accent-color: #8ebbff;
  --secondary-color: #2f3855;
  --text-color: #f4f5fc;

  background-color: var(--bg-color);
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

a {
  display: inline-block;
}

.text-center {
  text-align: center;
  display: block;
}
