.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header{
    font-size: 100px;
}

.title{
    font-size: 32px;
    text-transform: capitalize;
    margin-bottom: 10px;
}